@import '../styles/vars';

@font-face {
  font-family: 'TT Norms Black';
  src: url("../assets/fonts/TTNorms-Black.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Black Italic';
  src: url("../assets/fonts/TTNorms-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Bold';
  src: url("../assets/fonts/TTNorms-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Bold Italic';
  src: url("../assets/fonts/TTNorms-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Extra Bold';
  src: url("../assets/fonts/TTNorms-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Extra Bold Italic';
  src: url("../assets/fonts/TTNorms-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Extra Light';
  src: url("../assets/fonts/TTNorms-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Extra Light Italic';
  src: url("../assets/fonts/TTNorms-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Heavy';
  src: url("../assets/fonts/TTNorms-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Heavy Italic';
  src: url("../assets/fonts/TTNorms-HeavyItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Italic';
  src: url("../assets/fonts/TTNorms-Italic.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Light Italic';
  src: url("../assets/fonts/TTNorms-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Medium';
  src: url("../assets/fonts/TTNorms-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Medium Italic';
  src: url("../assets/fonts/TTNorms-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Regular';
  src: url("../assets/fonts/TTNorms-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Thin';
  src: url("../assets/fonts/TTNorms-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'TT Norms Thin Italic';
  src: url("../assets/fonts/TTNorms-ThinItalic.ttf") format("truetype");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: $font-size-default;
  user-select: none;

  @media (max-width: 1000px) {
    font-size: $font-size-min;
  }

  @media (min-width: 2000px) {
    font-size: $font-size-max;
  }
}

body {
  overflow: hidden;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}