@mixin exitButton() {
  &__exit {
    width: 20px;
    position: absolute;
    right: 30px;
    top: 30px;

    pointer-events: auto;
    cursor: pointer;

    @media (max-width: 800px) {
      width: 10px;
      right: 15px;
      top: 15px;
    }
  }
}