$color-white: #ffffff;
$color-white-opacity: rgba(255, 255, 255, .5);
$color-black: #000000;
$color-black-opacity: rgba(0, 0, 0, .5);
$color-black-atm: rgba(0, 0, 0, .25);
$color-gray: #D8D8D8;
$color-gray-opacity: #D8D8D890;
$color-green: #59D962;

$color-pink-active: #cc3ae7;
$color-blue-active: #3498DB;

$color-blank: #00000000;

$font-size-default: 14px;
$font-size-max: 18px;
$font-size-min: 8px;