@import '../../styles/vars';

.auth {
  width: 100vw;
  height: 100vh;

  background-size: cover;

  color: $color-white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &-content {
    width: 100%;
    height: 100%;

    background-color: $color-black-opacity;

    &-logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      height: 400px;
      width: 1000px;

      background: radial-gradient(closest-side at 50% 50%, rgba(216, 216, 216, 0.21) 0%, #6C6C6C00 100%);

      @media (max-width: 1000px) {
        width: 600px;
        height: 200px;
      }

      @media (min-width: 2000px) {
        width: 1200px;
        height: 500px;
      }

      & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 30%);

        width: 15%;
      }
    }

    &-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 400px;
      height: 400px;

      @media (max-width: 1000px) {
        width: 250px;
        height: 250px;
      }

      @media (min-width: 2000px) {
        width: 600px;
        height: 600px;
      }

      &-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 50px;

        font-size: 1.2rem;

        @media (max-width: 1000px) {
          margin-bottom: 20px;
        }

        &__element {
          opacity: .3;

          cursor: pointer;

          &_active {
            opacity: 1;
          }
        }
      }

      &__notify {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);

        transition: opacity .2s ease;

        &_error {
          color: #8d0000;
        }

        &_success {
          color: #01ba15;
        }
      }
    }

    &-link {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);

      display: flex;
      justify-content: center;
      align-items: center;

      height: 400px;
      width: 1400px;

      background: radial-gradient(closest-side at 50% 50%, rgba(52, 152, 219, 0.21) 0%, #1A4C6E00 100%);

      @media (max-width: 1000px) {
        width: 800px;
        height: 200px;
      }

      @media (min-width: 2000px) {
        width: 1600px;
        height: 500px;
      }

      & span {
        margin-bottom: 5%;
      }
    }
  }
}