@import '../../../../../styles/vars';

.house-info {
  position: relative;

  width: 250px;
  height: 450px;
  margin-right: 5px;

  background-color: rgba(0, 0, 0, .8);

  @media (max-width: 800px) {
    width: 125px;
    height: 225px;

    margin-right: 3px;
  }

  &__title {
    background: linear-gradient(to right, rgba(149, 149, 149, .5), $color-blank);
  }

  &__subtitle {
    font-family: 'TTNorms-Light', sans-serif;
  }

  &__title,
  &__subtitle {
    height: 10%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 800px) {
      padding: 7px;
    }
  }
}