.inventory-main {
  position: relative;

  width: 40%;
  height: 100%;
  margin: 0 3em;

  &-slots {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;

    &__slot {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 4em;
      height: 4em;
      margin: 0 1.5em 1.5em 0;

      border: .1em solid rgba(255, 255, 255, .5);

      &-quick {
        position: absolute;
        bottom: 0;
        left: 0;

        font-family: 'Montserrat', sans-serif;
        font-size: .85em;

        width: 1.3em;
        height: 1.3em;

        background-color: rgba(255, 255, 255, .34);

        & span {
          position: absolute;
          left: 45%;
          top: 55%;
          transform: translate(-50%, -50%);
        }
      }



      & img {
        width: 3em;
        height: 3em
      }
    }
  }

  &-inv-header,
  &-weapons-header,
  &-quick-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'TTNorms-Italic', sans-serif;
    font-style: italic;
    font-size: 1.3em;

    padding: .5em 1.5em .5em 0;
    margin-bottom: 1em;

    background: linear-gradient(270deg, rgba(52, 152, 219, .20) 0%, #3498DB00 100%);

    &__title {
      width: 60%;
    }
  }

  &-weapons-header {
    width: 70%;
  }

  &-quick-header {
    background: none;
  }

  &__bottom {
    position: absolute;
    bottom: -37%;
    left: 47.5%;

    width: 15%;
    height: 78%;

    background: linear-gradient(270deg, rgba(52, 152, 219, .20) 0%, #3498DB00 100%);

    transform: translateX(-50%) matrix(0, 1, -1, 0, 0, 0);
  }
}