@import '../../../styles/vars';
@import '../../../styles/mixins';

.fuel-station {
  width: 100vw;
  height: 100vh;

  background: radial-gradient(closest-side at 50% 50%, #FFFFFF40 0%, #001B2D70 100%);

  backdrop-filter: blur(10px);

  color: $color-white;

  font-family: 'TT Norms Bold', sans-serif;
  font-weight: 700;

  &-content {
    width: 300px;
    height: 300px;

    background: url('../../../assets/images/fuelStation/fuelStation.svg') no-repeat center;
    background-size: contain;

    position: absolute;
    bottom: -10px;
    right: 200px;

    @media (max-width: 800px) {
      width: 150px;
      height: 150px;

      box-sizing: -5px;
      right: 100px;
    }

    &__title {
      position: absolute;
      left: 28%;
      top: 5px;
      transform: translateX(-50%);

      font-family: 'TT Norms Black', sans-serif;
      color: $color-black-opacity;

      @media (max-width: 800px) {
        top: 2px;
      }
    }

    &-screen {
      position: absolute;
      top: 25px;
      left: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;

      height: 85px;
      width: 125px;

      background-color: rgba(0, 0, 0, .8);

      @media (max-width: 800px) {
        top: 12px;
        left: 10px;

        height: 42.5px;
        width: 62.5px;
      }

      & input {
        outline: none;
        border: none;
        border-radius: 50px;

        font-size: 1.6rem;
        font-weight: 700;
        color: $color-white;
        text-align: center;

        background-color: $color-black;

        width: 80%;
        margin-top: 15%;
        padding: 2px;

        @media (max-width: 800px) {
          padding: 1px;
        }

        &::placeholder {
          color: $color-white-opacity;
        }
      }

      & span {
        font-family: 'TT Norms Regular', sans-serif;
        font-weight: 500;

        margin-top: 5px;

        @media (max-width: 800px) {
          margin-top: 2px;
        }
      }
    }

    &-info {
      position: absolute;
      top: 115px;
      padding: 0 20px;
      width: 55%;

      text-align: center;

      @media (max-width: 800px) {
        top: 57.5px;
        padding: 0 10px;
      }

      & span {
        font-family: 'TT Norms ExtraLight', sans-serif;
        font-weight: 100;
        font-size: .8rem;
      }

      &-options {
        width: 100%;
        margin-top: 10px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 800px) {
          margin-top: 5px;
        }

        &__element,
        &__element_exit {
          position: relative;

          width: 45px;
          height: 45px;
          margin-bottom: 25px;

          display: flex;
          align-items: center;
          justify-content: center;

          background-color: $color-black-opacity;

          border: 1px solid rgba(0, 15, 112, .5);
          border-radius: 5px;
          box-shadow: 0 0 5px $color-white-opacity;

          cursor: pointer;

          @media (max-width: 800px) {
            width: 22px;
            height: 22px;
            margin-bottom: 10px;

            box-shadow: 0 0 3px $color-white-opacity;
          }

          & img {
            width: 50%;
          }

          & span {
            position: absolute;
            bottom: -15px;

            text-transform: uppercase;
            font-size: .5rem;
            font-weight: 700;

            @media (max-width: 800px) {
              bottom: -7px;
            }
          }
        }

        &__element_exit {
          border-color: rgba(246, 45, 47, .5);
          box-shadow: none;
        }
      }
    }
  }
}