@import '../../../../styles/vars';
@import '../../../../styles/mixins';

.character-creator-color {
  position: relative;
  width: 100%;

  @include characterCreatorTitle;

  &-list {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 800px) {
      padding: 10px;
    }

    &__element {
      width: 20px;
      height: 20px;
      margin: 0 5px 15px 5px;

      border: 1px solid $color-gray-opacity;

      pointer-events: auto;
      cursor: pointer;

      @media (max-width: 1280px) {
        width: 15px;
        height: 15px;
      }

      @media (max-width: 800px) {
        width: 10px;
        height: 10px;

        margin: 0 2px 7px 2px;
      }

      &:hover,
      &_active {
        border: 1px solid $color-white;
      }
    }
  }
}