@import '../../../../styles/vars';

.shop-description {
  position: relative;
  width: 100%;

  &-header {
    position: relative;
    padding: 25px 25px 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    border-bottom: 1px solid $color-white;

    @media (max-width: 800px) {
      padding: 15px 15px 10px 15px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, $color-gray, $color-blank);
    }

    &__units {
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
      text-shadow: 0 0 5px $color-white;
      font-style: normal;
    }
  }

  &__text {
    padding: 25px;
    text-align: justify;

    @media (max-width: 800px) {
      padding: 10px;
    }
  }
}