.hotel-info {
  position: relative;

  width: 12vw;
  height: 39vh;
  max-height: 22vw;
  margin-right: .35vw;

  background-color: rgba(0, 0, 0, .8);

  @media (min-width: 3440px) {
    max-width: 350px;
  }

  &__title {
    background: linear-gradient(to right, rgba(149, 149, 149, .5), #95959500);
  }

  &__subtitle {
    font-family: 'TT Norms Light', sans-serif;
  }

  &__title,
  &__subtitle {
    height: 10%;
    padding: .8em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}