@import '../../../styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.atm {
  width: 1000px;
  height: 780px;

  background: url('../../../assets/images/atm/atm2x.png') no-repeat;
  background-size: contain;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  filter: drop-shadow(0 0 50px $color-black);

  @media (max-width: 800px) {
    width: 500px;
    height: 390px;

    filter: drop-shadow(0 0 25px $color-black);
  }

  @media (min-width: 2000px) {
    font-size: .8rem;
  }

  &-screen {
    position: absolute;
    top: 260px;
    left: 375px;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 330px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: $color-white;

    @media (max-width: 800px) {
      top: 130px;
      left: 187.5px;

      width: 200px;
      height: 165px;
    }

    &-options {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &__balance {
        position: absolute;
        top: 0;

        font-weight: 700;
        color: $color-green;

        & span {
          font-weight: 500;
        }
      }

      &__exit {
        position: absolute;
        right: 0;

        font-weight: 700;
        text-align: center;

        background-color: $color-black-atm;
        border: 1px solid rgba(112, 112, 112, .28);

        width: 20%;
        padding: 10px;
        margin: 2px 0;

        @media (max-width: 800px) {
          padding: 4px;
          margin: 1px 0;
        }
      }

      &__element,
      &__balance {
        background-color: $color-black-atm;
        border: 1px solid rgba(112, 112, 112, .25);

        width: 70%;
        padding: 10px;
        margin: 2px 0;

        @media (max-width: 800px) {
          padding: 4px;
          margin: 1px 0;
        }
      }

      &__element,
      &__exit {
        cursor: pointer;
      }
    }
  }

  &-user-info {
    position: absolute;
    top: 130px;
    right: 0;
    transform: translate(-50%, -50%);

    height: 170px;
    width: 180px;

    font-family: 'Montserrat', sans-serif;
    color: $color-white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 800px) {
      top: 65px;

      height: 85px;
      width: 90px;
    }

    &__owner,
    &__account {
      display: flex;
      flex-direction: column;
      align-items: center;

      & span:first-of-type {
        margin-bottom: 25px;

        @media (max-width: 800px) {
          margin-bottom: 12.5px;
        }
      }
    }
  }
}