@import '../../../../../../styles/vars';

.character-creator-parent-block {
  position: relative;
  width: 45%;

  font-style: normal;

  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    font-size: 1.2rem;
    
    &__leftArrow,
    &__rightArrow {
      width: 25px;
      height: 25px;

      pointer-events: auto;
      cursor: pointer;

      @media (max-width: 800px) {
        width: 15px;
        height: 15px;
      }
    }

    &__rightArrow {
      transform: rotate(180deg);
    }
  }

  &__name {
    margin-top: 10px;

    font-weight: 700;
    color: #ffffffa6;
  }
}