.inventory-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'TTNorms-Italic', sans-serif;
  font-style: italic;
  font-size: 1.3em;

  padding: .5em 1.5em .5em 0;
  margin-bottom: 1em;

  background: linear-gradient(270deg, rgba(52, 152, 219, .20) 0%, #3498DB00 100%);

  &__title {
    width: 60%;
  }
}