@import '../../../../styles/vars';

.auth-registration {
  display: flex;
  flex-direction: column;

  &__submit {
    outline: none;
    border: 1px solid $color-white;
    background: none;

    padding: 12px;
    width: 100%;
    margin: 15px 0 0 auto;

    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-white;

    cursor: pointer;

    @media (max-width: 1000px) {
      margin: 7px 0 0 auto;
      padding: 6px;
    }
  }
}