.character-creator-option {
  position: relative;
  width: 90%;
  margin: 5% 0 2% 0;

  display: flex;
  flex-direction: column;

  font-style: normal;

  &__title {
    margin-bottom: 3%;
  }

  &-input {
    display: flex;
    align-items: center;

    & input {
      appearance: none;

      position: relative;
      width: 100%;
      height: 0.2em;
      padding: 0 5%;

      outline: none;
      border: none;
      background: linear-gradient(to right, #D8D8D800, #D8D8D890, #D8D8D800);

      &::-webkit-slider-thumb {
        appearance: none;

        width: 1.2vw;
        height: 1.2vw;

        border-radius: 50%;

        background-color: rgba(255, 255, 255, .5);

        cursor: pointer;
        outline: none;

        z-index: 5;
      }
    }

    &__leftArrow,
    &__rightArrow {
      width: 1.6em;
      height: 1.6em;

      pointer-events: auto;
      cursor: pointer;
    }

    &__rightArrow {
      transform: rotate(180deg);
    }
  }
}