@import '../../../../../styles/vars';

.inventory-main {
  width: 42%;
  height: 100%;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 10px 25px 10px 10px;

    font-size: 1.2rem;

    background: linear-gradient(to right, $color-blank, $color-blue-active-high-opacity);

    &__title {
      width: 80%;
      font-weight: 700;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}