@import '../../../../styles/vars';

.character-creator-gender {
  position: relative;
  width: 100%;
  padding: 15px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1280px) {
    padding: 5px 0;
  }

  @media (max-width: 800px) {
    padding: 0;
  }

  &__male,
  &__female {
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: auto;
    cursor: pointer;

    & svg {
      width: 50px;

      @media (max-width: 1280px) {
        width: 30px;
      }

      @media (max-width: 800px) {
        width: 22px;
      }

      transition: filter .2s ease;

      & path {
        transition: fill .2s ease, opacity .2s ease;
      }
    }
  }

  &__male {
    &::after {
      content: '';

      position: absolute;
      left: 100%;

      width: 1px;
      height: 80%;

      background-color: $color-black-opacity;

      @media (max-width: 800px) {
        height: 50%;
      }
    }

    &:hover,
    &_active {
      & svg {
        filter: drop-shadow(0 0 5px $color-blue-active);

        @media (max-width: 800px) {
          filter: drop-shadow(0 0 2px $color-blue-active);
        }

        & path {
          fill: $color-white;
          opacity: 1;
        }
      }
    }
  }

  &__female {
    & svg {
      width: 65px;

      @media (max-width: 1280px) {
        width: 45px;
      }

      @media (max-width: 800px) {
        width: 30px;
      }
    }

    &:hover,
    &_active {
      & svg {
        filter: drop-shadow(0 0 5px $color-pink-active);

        @media (max-width: 800px) {
          filter: drop-shadow(0 0 2px $color-pink-active);
        }

        & path {
          fill: $color-white;
          opacity: 1;
        }
      }
    }
  }

  &__slider {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    background: linear-gradient(to bottom, $color-black-opacity, $color-blank);

    width: 75%;
    height: 8px;

    @media (max-width: 1280px) {
      height: 6px;
    }

    @media (max-width: 800px) {
      height: 4px;
      bottom: 12px;
    }

    &::before {
      content: '';

      position: absolute;
      left: 0;
      top: 0;

      width: 50%;
      height: 100%;

      background: linear-gradient(to bottom, $color-gray-opacity, $color-blank);

      transition: left .2s ease;
    }

    &_right {
      &::before {
        left: 50%;
      }
    }
  }
}